{% load staticfiles %}
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
  	<style type="text/css">
  		.cent {
  			margin-top: 75px;
			margin-left: 75px;
  		}
  	</style>
</head>
<body style="background-color: ">
	<div class="container">
		<div class="col-md-8 cent">
		    <div id="pieChart"></div>
		    <div id="barChart"></div>  
		    <div id="lineChart"></div>
		</div>
	</div>
	<script src="{% static 'js/dash-script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dash-script.js') }}"></script>
 </body>
 </html>