

 {% extends 'base.html' %}
 {% load staticfiles %}                 
 {% block content %}         
         
           
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/w-Xe8gLBc5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
     
        <div class="logo-container logo-branded-horizontal" style="background-color: rgba(0, 0, 0, 0.8);color:white;height=100%;">
          <p >A link in their pasts leads an honest cop to a fugitive gang boss, whose cryptic warning spurs the officer on a quest to save Mumbai from cataclysm.<br><br>
Starring: Saif Ali Khan, Nawazuddin Siddiqui, Pankaj Tripathi<br>
Creators:Vikramaditya Motwane<br><br>
        </div>
  
          
    </div>
  </div>
   <div class="logo-container logo-branded-horizontal" style="background-color: rgba(0, 0, 0, 0.8);"><img src="https://occ-0-2482-2164.1.nflxso.net/dnm/api/v6/jsgGe9NCko3c-j0wGZ7FSwVlHs0/AAAABel2bU0W94LDLxeyi-82t0A_E7HaBabLquAlCz5KvT3KtVOln8vuJygiztMZZ38xYPeXTIkCgdb314CPxU3utn-6RsOm_XXDmKQUZNdGLTgcmbdyEPV0FgjlZoQnZvpTWfybl-fOkEn7YmCTzzXO1BDqrWo2MHOVuG4_YbsAUkcsVQ.png?r=4c0" alt="Sacred Games" class="logo"></div>
</div>

{% endblock %}
        
        
                    

            
                
        

     