

 {% extends 'base.html' %}
 {% load staticfiles %}                 
 {% block content %}         
         
           
<div class="container">
  <div class="row">
    <div class="col-sm-6">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/Fb1AaUhM2PE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
     
        <div class="logo-container logo-branded-horizontal" style="color:white;height=100%;background-color: rgba(0, 0, 0, 0.8);">
          <p >Ambitious entrepreneurs with ideas they believe will reap huge profits make their cases before a panel of ruthlessly inquisitive, skeptical investors.<br><br>
Starring:Kevin O'Leary, Robert Herjavec, Mark Cuban<br><br><br>
        </div>

        <div class="col-md-12 text-center no-repeat">
          <a href="{% url 'blog4' %}" class="btn btn-danger btn-rounded">View all episodes!</a>
        </div>
  
          
    </div>
  </div>
   <div class="logo-container logo-branded-horizontal" style="background-color: rgba(0, 0, 0, 0.8);"><img src="https://occ-0-2482-2164.1.nflxso.net/dnm/api/v6/5e0byrbbfBPBmtxyXMpKqMuqOQY/AAAABVuKalMYh6ajPZk3Jn98IbmaXW944Z5nhoX2Bh0h6bnjI2MPAYIULsA_GUnr_wMLzHBuWt7b4cJM3Jcqx9EGlSP5-S6XeKdPaFnI-udkkg.png?r=fdd" alt="Shark Tank" class="logo" height=300 width=700></div>
</div>

{% endblock %}
        
        
                    

            
                
        

     