

 {% extends 'base.html' %}
 {% load staticfiles %}                 
 {% block content %}         
         
           
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z7He5XaQKuc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-6">
     
        <div class="logo-container logo-branded-horizontal" style="background-color: rgba(0, 0, 0, 0.8);color:white;height=100%;">
          <p >Two teen cricket prodigies struggle against their overbearing father and a system stacked against them to realize their own ambitions and identities. <br><br>
Starring:Mohammad Samad, Yash Shashank Dholye, Rajesh Tailang</p>
        </div>
  
          
    </div>
  </div>
   <div class="logo-container logo-branded-horizontal" style="background-color: rgba(0, 0, 0, 0.8);"><img src="https://occ-0-2482-2164.1.nflxso.net/dnm/api/v6/jsgGe9NCko3c-j0wGZ7FSwVlHs0/AAAABZkVCPGhx0Po9YSkaooSeddU3yNm3b6-cbD1UjOtaByyoHXjElRlycRcdA5tIuxIGTTUAA7g3wOMFAuOWK_eEWe8lwbbTtXPPgnGn9q30ZsY3O2ZtJmUSnpGv7d4mzsVbMNeuipDGOtAuKySRu10x0T-tdcI9OaVX-0ka_9dTSN9YA.png?r=fc4" alt="Selection Day" class="logo"><br></div>
</div>

{% endblock %}
        
        
                    

            
                
        

     